* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;;
    height: 100vh;
    background: #887171;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
.task-list {
    color: #fff;
}