@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;    
}

.container {
    display: flex;;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #ffa0a0, #c6c6fa);
    align-items: start;
    justify-content: center;
    padding: 50px 120px 50px 100px;
}

.task-form {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 10px;
}

.task-form form {
    display: flex;
    margin-top: 20px;
    max-width: 300px;
    height: 30px;
}

.task-form form input,
.task-form form button {
    border: 2px solid transparent;
    border-radius: 4px;
    
}

.task-form form input {
    width: 180px;
    margin-right: 10px;

}

.task-form form button {
    width: 100px;
    background-image: linear-gradient(#ffe2e2, #fff);

}

.task-list {
    flex: 2;
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.task-list h1 {
    margin-bottom: 15px;
}

.task {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(#ffe2e2, #fff);

    border: 1px solid rgba(255,255,255,.7);
    border-radius: 10px;
    padding: 0px 20px;
    margin-bottom: 15px;

}

.task-done-button, 
.task-delete-button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

.strikethrough {
    text-decoration: line-through;
}

/* issue with text input and task cards being too big on mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 50px 60px;
    }
    .task-form {
        flex: 1;
        align-items: center;
    }
    .task-list {
        align-items: center;
    }

}